.feedbackslides
	.grid.feeImg
		.img
			img(src="img/reviews1.png", alt="")
		p.
			 Слышал по отзывам знакомых, о группе «Height». Заинтересовало. Купил билеты и отправился на концерт. Он проходил в Мюнхене, где я был в командировке. К началу концерта не осталось ни одного свободного места ни на трибунах, ни в фан зоне. Концерт длился 3 часа.Прозвучало очень много хорошей музыки. Их фронт-мен Илья Корыгин пел с душой. Вернулся с
			концерта охрипший и очень довольный. Спасибо огромное «Height» за музыку.
	.grid.feeImg
		.img
			img(src="img/reviews2.png", alt="")
		p.
			Как только мы с мужем узнали, что в нашем городе будет концерт группы «Height», сразу же купили билеты. Это что-то невообразимое и неподдающееся описанию, музыка просто уносила. Особенный респект их солисту Илье, очень харизматичный музыкант, как сильно он может передать то, что поет. А его соло на гитаре – просто супер. По окончании концерта
			зал просто взорвался в овациях. Очень рекомендую тем, кто не был, посетить их концерт, многое приобретете и будете под впечатлением.
	.grid.feeImg
		.img
			img(src="img/reviews3.png", alt="")     
		p.
			Группу «Height» слушаю давно, мне очень нравится их творчество, для меня это самая лучшая рок-группа. Когда узнал, что они выступают в моем городе, сразу же купил билет и с нетерпением ждал концерта. Главный солист Илья Корыгин обладает необъяснимой энергией, так же, как его музыка, от которой мурашки по коже. По возможности я всегда слушаю эту
			группу, даже на работе. А на концерте у них всегда особенная атмосфера, много положительных эмоций и заряда энергии. Спасибо огромное!
	.grid.feeImg
		.img
			img(src="img/reviews4.png", alt="")
		p.
			 Обожаю этого певца, от него просто веет позитивной энергетикой, а песни дают стимул жить. Был на его концерте – незабываемо, просто нельзя передать словами. Для меня это самая лучшая группа в мире. Когда их солист вышел на сцену – у меня аж сердце перестало стучать, столько мощи даже в одном его образе. Концерт был крутой, я всем желаю приходить на них. Лично меня не отпускало две недели.
	.grid.feeImg
		.img
			img(src="img/reviews5.png", alt="")
		p.
			Знаком с творчеством группы с самого их появления. Считаю, что из всех украинских рок-групп «Height» - одна из самых лучших. Их песни о свободе, человеческих отношениях, справедливости и правде. Они очень разные, от легких, даже веселых, до очень глубоких. Концерты «Height» всегда живые, яркие, на долго заряжают энергией. Все, кому хоть одна песня Ильи Корыгина понравилась, должны посетить его концерты. Это действительно очень круто.
	.grid.feeImg
		.img
			img(src="img/reviews6.png", alt="")     
		p.
			Знаю наизусть почти все их великолепные, пронизывающие душу песни. Музыка
			потрясающая, она посвящена месту человека в жизни, проблематике выбора, справедливости, отношениям и другим важным вещам. «Height» - это почти как первый поцелуй. Три года назад я впервые услышала их песню «Mess» и это была любовь с первого звука. Я переслушала все их	песни. В каждой – глубокий смысл. Отличные тексты, запоминающаяся музыка. А их вокалист
			Илья – просто красавчик, очень хорошо умеет сочетать текст и вокал. На выходе – то, что трогает душу.
