<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/main.min.css")
  link(rel="icon", href="img/favicon.ico")
  title GuitarForewer
body
  #home
  nav.grid.nav
    div
      a(href="#home") Главная
      a(href="#aboutme") обо мне
      a(href="#player") музыка
      a(href="#feedback") отзывы
      a(href="#email") контакты
    div
      img(src="img/logo.png", alt="")
  .line    
  nav.grid.navSmall
    .cross
    a(href="#home") Главная
    a(href="#aboutme") обо мне
    a(href="#player") музыка
    a(href="#feedback") отзывы
    a(href="#email") контакты
    
  section.grid.slides.section
    .img
      img(src="img/slider1.jpeg", alt="")
      h1.hidden(data-animate="fadeInLeftBig") SLIDE 1
    .img
      img(src="img/slider2.jpeg", alt="")
      h1.hidden(data-animate="fadeInRightBig") SLIDE 2
    .img
      img(src="img/slider3.jpeg", alt="")
      h1.hidden(data-animate="fadeInDownBig") SLIDE 3

  section.grid.about#aboutme(style='background-image: url(img/paralax1.jpg)')
    .img
      img(src="img/guitarist.png", alt="")
    .aboutMe.grid
      h2 обо мне
      hr
      p.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur mollitia dolores autem aliquid. Autem similique iste inventore rem deleniti laboriosam mollitia quasi a. Quo magni temporibus repellat optio, illo commodi.
      p.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatibus laboriosam, voluptatem consectetur distinctio architecto ex! Qui harum expedita suscipit eum quaerat excepturi, ipsam totam deleniti magnam. Doloremque, est, saepe.
      div.social
        .fa.fa-facebook
        .fa.fa-twitter
        .fa.fa-google-plus
        .fa.fa-linkedin
    a(name="player")
    include player

  section.section.feedback#feedback.grid(style='background-image: url(img/paralax2.jpg)')
    .line
      h2 отзывы
      hr
    include feedback
    .counter
    .concert
      h2 количество концертов 
    .form.grid
      input(type="text", name="", placeholder="name")
      input(type="text", name="", placeholder="phone")
      textarea(name="text", placeholder="text...")
      input(type="button", name="", value="send")
      
    .email#email.grid
      .fa.fa-envelope 
      span.name kirill.lozovski@gmail.com
      .fa.fa-phone 
      span.phone 000-00-00
      .social
        .fa.fa-facebook
        .fa.fa-twitter
        .fa.fa-google-plus
        .fa.fa-linkedin
    footer.footer
      span @all4site.com.ua Все прва защищены 2017
  
  script(src="js/main.min.js")
