<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="css/main.min.css")
  link(rel="icon", href="img/favicon.ico")
  title GuitarForewer
body
  #home
  nav.grid.nav
    div
      a(href="#home") Главная
      a(href="#aboutme") обо мне
      a(href="#player") музыка
      a(href="#feedback") отзывы
      a(href="#email") контакты
    div.logo
      img(src="img/logo.png", alt="")
  .line    
  nav.grid.navSmall
    .closeTop
    a(href="#aboutme") обо мне
    a(href="#player") музыка
    a(href="#feedback") отзывы
    a(href="#email") контакты
    .closeBottom
    
  section.grid.slides.section#slides
    .img
      img(src="img/slider1.jpeg", alt="")
      h1.hidden(data-animate="fadeInLeftBig") Height
    .img
      img(src="img/slider2.jpeg", alt="")
      h1.hidden(data-animate="fadeInRightBig") Height
    .img
      img(src="img/slider3.jpeg", alt="")
      h1.hidden(data-animate="fadeInDownBig") Height

  section.grid.about#aboutme(style='background-image: url(img/paralax1.jpg)')
    .back
    .img
      img(src="img/guitarist.png", alt="")
    .aboutMe.grid
      h2 обо мне
      hr
      p.
        Илья Корыгин - автор песен, композитор, фронт-певец и гитарист украинской рок-группы «Height». Его уникальная манера пения выделяет группу среди прочих рок-музыкантов. В то же время он довольно сложный и проницательный музыкант. Кроме игры на соло-гитаре,Илья отлично владеет бас-гитарой и превосходно играет на фортепиано.
        Корыгин родился и вырос в Киеве, с детства играл различные стили на гитаре, начиная от попсы,заканчивая хэви-металом. Илья закончил музыкальное училище Глиера, затем киевскую консерваторию. 
        Еще во время учебы в консерватории он регулярно выступал в различных группах.После окончания учебы, в 2009 году, образовал собственную рок-группу, которую назвал «Height» и отправился гастролировать по Европе. В том же году Корыгин выпустил свой дебютный студийный альбом «Mist», в который вошел его хитовый сингл «Craving». С выпуском второго альбома он добился значительного коммерческого успеха. Илья быстро зарекомендовал себя как одного из самых талантливых рок-гитаристов современной Украины. Выступления Ильи Корыгина были оценены журналом Rock Guitar как «лучшее из того, что сегодня играют в Украине».Все это время Корыгин развивался в своем профессионализме и победил на нескольких международных конкурсах, в том числе Guitar Foundation of Europe. Илья выиграл две награды Teen Choice Awards, премию «Народный выбор» и премию «Зал славы сочинителей». Он заработал сертификаты Platinum и Multi-Platinum в более чем 10 странах и гастролировал по 36 странах, включая США, Азию и Восток. На май 2017 года Илья Корыгин продал 13 миллионов заруженных синглов.
      div.social
        .fa.fa-facebook
        .fa.fa-twitter
        .fa.fa-google-plus
        .fa.fa-linkedin
    
    include player

  section.section.feedback#feedback.grid(style='background-image: url(img/paralax2.jpg)')
    .line
      h2 отзывы
      hr
    include feedback
    .counter
    .concert
      h2 количество концертов 
    .form.grid
      input(type="text", name="name", placeholder="name")
      input(type="text", name="phone", placeholder="phone")
      textarea(name="text", placeholder="text...")
      input(type="button", name="", value="send")
      
    .email#email.grid
      .fa.fa-envelope 
      span.name kirill.lozovski@gmail.com
      .fa.fa-phone 
      span.phone 000-00-00
      .social
        .fa.fa-facebook
        .fa.fa-twitter
        .fa.fa-google-plus
        .fa.fa-linkedin
    footer.footer
      span @all4site.com.ua Все прва защищены 2017
  
  script(src="js/main.min.js")
