.grid.player
  .jplayer_1
  .player_container_1.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 1
    .jp-progress
      .jp-seek-bar
        .jp-play-bar 
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_2
  .player_container_2.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 2
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_3
  .player_container_3.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 3
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_4
  .player_container_4.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 4
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_5
  .player_container_5.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 5
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value  

  .jplayer_6
  .player_container_6.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Song 6
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value