
.grid.player
  h2#player Музыка
  .jplayer_1
  .player_container_1.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Energy
    .jp-progress
      .jp-seek-bar
        .jp-play-bar 
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_2
  .player_container_2.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Going Higher
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_3
  .player_container_3.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Memories
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_4
  .player_container_4.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Ukulele
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value

  .jplayer_5
  .player_container_5.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text Better Days
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value  

  .jplayer_6
  .player_container_6.grid
    .fa.fa-play
    .fa.fa-pause
    .fa.fa-stop
    .text A New Beginning
    .jp-progress
      .jp-seek-bar
        .jp-play-bar
    .jp-volume-controls
      .jp-volume-bar
        .jp-volume-bar-value