@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.slides
		height: 88vh
	.feedbackslides
	.feedback
		grid-template-columns: 1fr repeat(3, 300px) 1fr
		.img
			width: 200px
			height: 200px
			margin-left: 15%
			img
				width: 100%
		p
			overflow: auto
			height: 35vh
			// padding: 10px
		::-webkit-scrollbar
			width: 5px
			background: rgba(255, 0, 0, 0.7)
	.form input:nth-of-type(3)
		margin: 0 100px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	footer
		grid-column: 1/4
	.feedback
		grid-template-columns: max-content 1fr
		.img
			width: 400px
			height: 400px
			justify-self: center
			margin: 0
		.form
			grid-column: span 3
			margin: 0 20%
		.email
			grid-column: span 3

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.feeImg
		width: 100vw !important


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
