@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px)
	.about
		.aboutMe
			width: 50vw
			h2
				height: 60px
			p
				font-size: 1em
		.img
			img
				width: 300px
	.slides
		height: 68vh
		.img
			img
				height: auto
	.feedbackslides
	.feedback
		grid-template-columns: 1fr repeat(3, 300px) 1fr
		.img
			width: 200px
			height: 200px
			justify-self: center
			img
				width: 100%
		p
			overflow: auto
			height: 35vh
			justify-self: center
			margin: 20px 0
		::-webkit-scrollbar
			width: 5px
			background: rgba(255, 0, 0, 0.7)
	.form input:nth-of-type(3)
		margin: 0 100px
	.email
		justify-self: center
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.about
		.img
			img
				max-width: 300px
		.aboutMe
			padding-left: 10%

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.nav
		grid-template-columns: minmax(max-content, 1fr) 1fr
		div
			a
				padding: 10px
	.slides
		background: #000000
		height: auto
		.img
			h1
				top: 25%
			img
				height: auto
	footer
		grid-column: 1/4
		padding-left: 15%
	.about
		.img
			img
				max-width: 250px
		.player
			.player_container_1 , 
			.player_container_2,
			.player_container_3,
			.player_container_4,
			.player_container_5,
			.player_container_6,
				.text
					font-size: .8em
					margin-top: 0
		.aboutMe
			padding-left: 5%
	.feedback
		.img
			width: 400px
			height: 400px
		p
			overflow: auto
			height: 45vh
			width: 35vw

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.about
		grid-template-columns: 1fr
		grid-template-rows: min-content 1fr
		.img
			grid-column: 1
			grid-row: 1
			max-width: 100vw
			width: 95vw
			justify-self: center
			img
				width: 100vw
				max-width: 100%
		.aboutMe
			grid-column: 1
			grid-row: 2
			width: 100vw
			color: #ffffff
			h2
				height: 70px
			hr
				width: 75%
			p
				padding: 0 5px 0px 10px
		.player_container_1
			grid-template-columns: repeat(5, min-content)
			grid-template-rows: repeat(12, min-content)
			.fa
				
	.form
		max-width: 60vw
	.slides
		display: none
	.feedback
		.img
			width: 400px
			height: 400px
		p
			overflow: auto
			height: 45vh
			width: 55vw
	.nav
		div a
			display: none
		div img
			display: none
	.line
		width: 100px
		position: fixed
		justify-self: start
		grid-column: 1
		z-index: 9
		&::before
			position: absolute
			content: '\f0c9'
			font-family: FontAwesome
			color: #fff
			font-size: 50px
			left: 10%
			top: 10%
	.navSmall
		position: fixed
		z-index: 998
		background: red
		width: 40vw
		height: 100vh
		grid-template-rows: repeat(5, 45px)
		margin-bottom: -50vh
		align-content: center
		display: none
		a
			transition: color 400ms
			font-weight: bold
			text-transform: uppercase
			padding-left: 20%
		&::before
			position: absolute
			content: '\f00d'
			font-family: FontAwesome
			color: #fff
			font-size: 50px
			left: 10%
			top: -3%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	// .about
	// 	.player
	// 		.player_container_1
	// 			grid-template-rows: repeat(3, 1fr)
	// 			grid-template-columns: repeat(3, min-content) 1fr 1fr
	// 			.fa
	// 				grid-row: 1
	// 				grid-column: span 2
	// 			.jp-progress
	// 				grid-row: 2
	// 				grid-column: span 2
	// 			.jp-volume-controls
	// 				grid-row: 3
	// 	.slides
	// 		display: none
	// 	.feedback
	// 	.img
	// 		width: 250px
	// 		height: 250px
	// 	.line
	// 		hr
	// 			margin: 0 20% 20px
	// 	.form
	// 		grid-template-rows: 1fr 1fr minmax(200px, max-content) 1fr
	// 		grid-template-columns: 1fr 1fr
	// 		max-width: 80vw
	// 		margin: 0 10%
	// 		input:nth-of-type(1)
	// 			grid-column: span 2
	// 			grid-row: 1
	// 		input:nth-of-type(2)
	// 			grid-column: span 2
	// 			grid-row: 2
	// 		input:nth-of-type(3)
	// 			grid-column:  span 2
	// 			grid-row: 4
	// 			margin: 0
	// 		textarea
	// 			grid-column: span 2
	// 			grid-row: 3
	// 	.email
			.fa
				font-size: 1.2em
	footer
		span
			font-size: .8em
		


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
